@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden!important;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  padding-top: 243px;
}
@media(max-width: 991.98px) {
  body {
    padding-top: 147px;
  }
}

*{
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vmihag');
  src:  url('../fonts/icomoon.eot?vmihag#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vmihag') format('truetype'),
    url('../fonts/icomoon.woff?vmihag') format('woff'),
    url('../fonts/icomoon.svg?vmihag#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whats:before {
  content: "\e900";
  color: #ba9b64;
}

.loader-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #BA9B64;
  z-index: 10000;
  text-align: center;
  overflow:hidden;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.16s;
  color: #fff;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}
.loader,
.loader::before,
.loader::after {
    background-color: #fff;
    width: 10px;
    height: 40px;
    animation: load 1s ease-in-out infinite;
    -webkit-animation: load 1s ease-in-out infinite;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.16s;
    color: #fff;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}
.loader::before,
.loader::after{
    content: '';
    position: absolute;
    top: 0;
}
.loader::before{
    left: -15px;
    animation-delay: 0.32s;
}
.loader::after {
    left: 15px;
}

@keyframes load{
    0%, 80%, 100%{
        height: 40px;
        box-shadow: 0 0;
    }
    40%{
       height: 50px;
       box-shadow: 0 -24px;
    }
}

body::-webkit-scrollbar {
    width: 8px;
}
body.thin::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #8b8b8b;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #8b8b8b;
}

.main-section {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
@media(max-width: 992px) {
  .main-section {
    padding: 30px 0;
  }
}

a {
  text-decoration: none !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  color: #2E2E2E;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}
a:focus,
a:active,
button:focus,
button:active,
input:active,
input:focus,
select:active,
select:focus,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: 0;
}

/*page*/

.top-bar {
  background-color: #343238;
  color: #fff;
  font-size: 14px;
  padding: 13px 0 15px 0;
}
.top-bar a:hover {
  color: #ccc;
}
.call__link {
  color: #fff;
  display: inline-block;
  margin-inline-end: 50px;
}
.call__link i {
  color: #BA9B64;
  font-size: 16px;
  margin-inline-end: 7px;
}
.social__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link {
  color: #BA9B64;
  display: inline-block;
  margin-inline-end: 16px;
}
.social__link i {
  font-size: 16px;
}

.social__link:hover {
    color: #ccc;
}

.social__link:hover i::before {
    color: #ccc;
}

.dektop_logo_wrapper {
  padding: 15px 0 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E3A44;
}

.headerNav {
  background-color: #BA9B64;
  border-top: 2px solid #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.mobile_menu_toggler {
  color: #BA9B64;
  position: absolute;
  top: 36px;
  width: 25px;
  height: 16px;
  padding: 0;
  font-size: 28px;
}
.mobile_logo {
  display: inline-block;
  width: 62px;
  height: 71px;
}
.mobile_logo img {
  max-width: 100%;
  max-height: 100%;
}
.nav-link {
  color: #3E3A44;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  height: 50px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.dropdown-menu {
  min-width: 100%;
  padding: 0;
}
.dropdown-menu .dropdown-item {
  color: #3E3A44;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.nav-link.dropdown-toggle::after {
  vertical-align: middle;
  font-size: 12px;
  border: none;
  font-family: 'FontAwesome';
  content: "\f078";
  margin-inline-start: 5px;
}

@media(min-width: 992px) {
  .site_links {
    display: flex;
  }
  .headerNav {
    justify-content: center;
  }
  .mobile_menu_toggler {
    display: none;
  }
}

@media(max-width: 991.98px) {
  .top-bar {
    padding: 12px 28px;
    font-size: 12px;
  }
  .d_mob_none {
    display: none;
  }
  .call__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .call__wrap .call__link {
    margin-inline-end: unset;
  }
  .call__link i {
    font-size: 14px;
  }
  .dektop_logo_wrapper {
    display: none;
  }
  .headerNav {
    background-color: #3E3A44;
    border-top: none;
    height: 105px;
  }
  .mobile_menu {
    position: absolute;
    width: 100%;
    background-color: #C3AC79;
    z-index: 99999;
    top: 100%;
    padding: 0 28px;
    display: none;
  }
  .mobile_nav__wrapper {
    width: 100%;
    height: 100%;
    padding: 17px 28px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .nav-link.dropdown-toggle {
    justify-content: space-between;
  }
}

/* Start main slider section*/
.main__overlay {
  position: absolute;
  display: block;
  content: '';
  top: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(62 58 68 / 28%);
  z-index: 2;
}
.main_slider_section{
  color: #fff;
  position: relative;
}
@media(min-width: 992px) {
  .site_links .nav-link.active, .site_links .nav-link:hover {
    color: #fff;
    background-color: #343238;
  }
  .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #343238;
  }
  .main_slider_section{
    height: 650px;
  }
}

.carousel-item, .carousel-item img {
  height: 650px;
} 

.carousel-control-next, .carousel-control-prev {
  width: 36px;
  height: 36px;
   top: 50%;;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 1;
  color: #fff;
  font-weight: lighter;
  font-size: 26px;
  z-index: 999;
  border: none;
  outline: none;
}
@media(min-width: 992px) {
  .carousel-control-next {
    right: 60px;
  }
  .carousel-control-prev {
    left: 60px;
  }
}
.carousel-control-next:focus,
 .carousel-control-next:hover,
  .carousel-control-prev:focus,
   .carousel-control-prev:hover {
  opacity: 1;
  background-color: transparent;
  color: #fff;
}

.carousel-caption {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: auto;
  top: 0;
}
.carousel-caption h5 {
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 30px;
}
.carousel-caption h5 strong {
  font-size: 58px;
  display: block;
}

@media(max-width: 991.98px) {
  .carousel-caption h5 {
    font-size: 22px;
  }
  .carousel-caption h5 strong{
    font-size: 26px;
  }
  .carousel-item, .carousel-item img {
    height: 260px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    padding: 0 13px;
  }
}


/*** start consultant section ***/
.consultant_section {
  position: relative;
  margin-top: -125px;
  padding-bottom: 60px;
  z-index: 3;
}
.call__us__btn {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #343238;
  background-color: #BA9B64;
  border: 2px solid #BA9B64;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: moving 1s linear infinite;
  -webkit-animation: moving 1s linear infinite;
}
.call__us__btn:hover {
  background-color: transparent;
  color: #BA9B64;
}

@keyframes moving {
  0%, 100% {
    transform: scale(1)rotate(0);
    -webkit-transform: scale(1)rotate(0);
    -moz-transform: scale(1)rotate(0);
    -ms-transform: scale(1)rotate(0);
    -o-transform: scale(1)rotate(0);
}
  50% {
    transform: scale(0.9)rotate(-10deg);
    -webkit-transform: scale(0.9)rotate(-10deg);
    -moz-transform: scale(0.9)rotate(-10deg);
    -ms-transform: scale(0.9)rotate(-10deg);
    -o-transform: scale(0.9)rotate(-10deg);
  }
}
.consultant__wrapper {
  background-color: #343238;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.consult_img{
  width: 104px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consult_img img{
  max-width: 100%;
  max-height: 100%;
}
.consult_title {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #BA9B64;
  margin-bottom: 15px;
}
.consult_des {
  font-size: 18px;
  text-transform: capitalize;
  color: #FAFAFA;
  max-width: 400px;
}
.request_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 197px;
  color: #3E3A44;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #BA9B64;
  border: 2px solid #BA9B64;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-top: 30px;
}
.request_btn:hover {
  background-color: transparent;
  color: #BA9B64;
}

.consultant__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 39px 29px;
}

@media(min-width: 1200px) {
  .consultant__wrapper {
    padding: 74px 85px;
  }
  .consult__content {
    display: flex;
    justify-content: space-between;
  }
}


@media(max-width: 768px) {
  .consultant_section {
    margin-top: -40px;
  }
  .consultant__wrapper {
    padding: 39px 29px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .consult_img {
    width: 55px;
    height: 57px;
    margin-bottom: 26px;
  }
  .consult_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .consult_des {
    font-size: 14px;
  }
  .request_btn {
    margin-left: auto;
    margin-right: auto;
  }
  .call__us__btn {
    height: 50px;
    width: 50px;
    font-size: 26px;
    bottom: 20px;
  }
}

/* start our sevices section */
.our_services_section {
  padding-bottom: 116px;
}
.services__img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.services__img img{
  max-height: 478px;
}
.services__wrapper {
  padding-top: 50px;
}
.sub_title{
  font-size: 26px;
  color: #BA9B64;
  margin-bottom: 12px;
}
.main__title{
  font-size: 34px;
  font-weight: bold;
  color: #3E3A44;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.services__points {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 44px;
  margin-bottom: 20px;
}
.service__link {
  display: block;
  color: #2E2E2E;
  font-size: 18px;
  margin-bottom: 38px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service__link:hover {
  color: #9e7e46;
}
.law__img {
  margin-inline-end: 28px;
  width: 36px;
  height: 36px;
}
.main__btn {
  height: 50px;
  width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #BA9B64;
  text-transform: capitalize;
  background-color: #343238;
  border: 2px solid #343238;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.main__btn:hover {
  color: #343238;
  background-color: transparent;
}
@media(min-width: 768px) and (max-width: 992px) {
  .services__points {
    display: block;
  }
}
@media(max-width: 576px) {
  .our_services_section {
    padding-bottom: 60px;
  }
  .services__img img{
    max-height: 244px;
  }
  .sub_title{
    font-size: 18px;
    margin-bottom: 18px;
  }
  .main__title{
    font-size: 22px;
    margin-bottom: 28px;
  }
  .services__points {
    display: block;
  }
  .service__link {
    margin-bottom: 35px;
  }
}

/* start help section */
.help_section {
  padding-bottom: 84px;
}
.big__title {
  font-size: 36px;
  font-weight: bold;
  color: #343238;
}
.help__info {
  padding-top: 10px;
  border-inline-start: 3px solid #BA9B64;
  padding-inline-start: 120px;
}
@media(max-width: 992px) {
  .help__info {
    padding-inline-start: 18px;
  }
}
@media(max-width: 767.98px) {
  .big__title {
    font-size: 24px;
    margin-bottom: 44px;
  }
}
@media(max-width: 576px) {
  .help_section {
    padding-bottom: 50px;
  }
}

/* start about us section */

.about_section {
  padding: 87px 0;
}
.welcome_wrap {
  padding-top: 50px;
}
.about__des {
  line-height: 2;
  margin-bottom: 20px;
}
.about_img_wrapper {
  /* height: 437px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 62px;
  position: relative;
}
.about_img_wrapper img{
  /* height: 406px; */
  max-width: 406px;
  position: relative;
}
.about_img_wrapper::before {
  content: url(../img/bg.png);
  position: absolute;
  bottom: -31px;
  width: 340px;
  height: 340px;
}

@media(max-width: 1200px) {
  .about_img_wrapper {
    /* height: 358px; */
    padding-inline-end: 25px;
    padding-bottom: 25px;
    overflow: hidden;
  }
  .about_img_wrapper img{
    /* height: 333px; */
    max-width: 332px;
  }
  .about_img_wrapper::before {
    width: 278px;
    height: 278px;
    bottom: -25px;
  }
}

@media(max-width: 576px){
  .about_img_wrapper {
    justify-content: flex-start;
  }
}

@media(max-width: 767.98px) {
  .about_section {
    padding: 50px 0;
  }
  .welcome_wrap {
    margin-bottom: 40px;
  }
}

/* start gallery section */
.gallery_section {
  padding: 67px 0 280px 0;
}
.main__title_36 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.gallery__bar {
  margin-bottom: 29px;
}
.gallery__bar .nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link.gallery_link:first-of-type {
  margin-inline-end: 32px;
}
.nav-tabs .nav-link.gallery_link {
  border: 1px solid #343238;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  height: 50px;
  width: 138px;
  color: #343238;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-tabs .nav-item.show .nav-link.gallery_link,
 .nav-tabs .nav-link.gallery_link.active,
 .nav-tabs .nav-link.gallery_link:hover{
   background-color: #343238;
   color: #BA9B64;
   font-weight: bold;
 }

 .gallery__img {
   margin-bottom: 19px;
   transition: 0.2s;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -ms-transition: 0.2s;
   -o-transition: 0.2s;
}
 .gallery__img:hover{
    opacity: 0.9;
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
}
.gallery-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.video__title {
  color: #343238;
  font-size: 16px;
  text-transform: capitalize;
}
.video__title:hover {
  color: #BA9B64;
}
/* start footer*/
.footer  {
  padding: 38px 0;
  background-color: #3E3A44;
}
.footer__title {
  color: #BA9B64;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer_link {
  display: flex;
  font-size: 20px;
  color: #FAFAFA;
  margin-bottom: 70px;
}
.footer_link:hover {
  color: #ccc;
}
.footer_link .call_icon {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343238;
  background-color: #BA9B64;
  margin-inline-end: 23px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.copyrights {
  padding: 24px 0;
  background-color:#343238;
  text-align: center;
  text-transform: capitalize;
}

.copyrights .social__wrap {
  margin-bottom: 17px;
}
.rights__des {
  color: #BA9B64;
  font-size: 12px;
  margin-bottom: 17px;
}
.powered__des {
  color: #FAFAFA;
  font-size: 13px;
  margin-bottom: 0;
}
.powered__des strong {
  font-weight: bold;
}

.go-top {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  background: #BA9B64;
  color: #343238;
  bottom: 40px;
  z-index: 2500;
  -webkit-box-shadow: 0 4px 18px 0px #00000085;
  box-shadow: 0 4px 18px 0px #00000085;
  text-align: center;
  line-height: 46px;
  transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.go-top:hover {
  background-color: #8b6e3b;
  color: #fff;
}

@media(max-width: 992px) {
  .go-top {
    bottom: 20px;
  }
}



/*** start about us page ***/

.about-banner {
  max-height: 489px;
  position: relative;
}

@media(max-width: 576px) {
  .about-banner {
    height: 160px;
  }
  .about-banner img {
    height: 100%;
  }
}

.inner-wrapper {
  padding: 90px 0 70px 0;
}
.inner__des {
  line-height: 2;
}


/*** chairaman message page ***/
.main__pages__wrapper {
  padding: 100px 0px;
}

.message_img{
  position: relative;
}
.message_img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media(max-width: 991.98px) {
  .message_img {
    margin-bottom: 20px;
  }
}

/*** our services page ***/
.services__row {
  padding: 28px 0;
}
.service__card {
  min-height: 370px;
  margin-bottom: 20px;
}
.service__img {
  display: block;
  max-height: 323px;
  margin-bottom: 29px;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.service__img img {
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.service_card_title {
  font-size: 20px;
  color: #3E3A44;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 255px;
}
.service__card:hover .service__img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

  .pagination {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.page-item.active .page-link {
  background-color: #010203;
}

.page-link {
  color: #010203;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 10px;
  min-width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: navajowhite;
  outline: none;
}
.page-link:hover {
  background-color: #010203;
  color: #fff;
}

.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid #010203;
  font-size: 9px;
  margin-inline-start: 50px;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 1px solid #010203;
  font-size: 9px;
  margin-inline-end: 50px;
}
@media(max-width: 767.98px) {
  .pagination {
    width: 100%;
  }
  .page-item:last-child .page-link {
    margin-inline-start: 10px;
  }
  
  .page-item:first-child .page-link {
    margin-inline-end: 10px;
  }
}

/*** service details page ***/
.message_card {
  padding-bottom: 79px;
}

/*** our team page ***/
.position__title {
  font-size: 16px;
  color: #BA9B64;
  margin-bottom: 6px;
}


/*** team details ***/ 
.main__position {
  font-size: 28px;
  font-weight: bold;
  color: #BA9B64;
  margin-bottom: 19px;
}
.inner__posi {
  font-size: 20px;
  margin-bottom: 10px;
}


/*** consultant page ***/ 

.consult__alert {
  margin-bottom: 20px;
}
.consult__alert span{
  font-size: 16px;
  display: block;
}
.request__form {
  padding-bottom: 50px;
}
.request__form .form-group {
  margin-bottom: 30px;
}
.request__form .form-control{
  height: 50px;
  border: none;
  border-bottom: 2px solid #F2F2F2;
  color: #BA9B64;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.request__form .form-control::placeholder {
  color: #BA9B64;
  font-size: 14px;
  text-transform: capitalize;
}
.request__form .form-control:focus {
  border-bottom: 2px solid #010203;
  outline: none;
  box-shadow: none;
}
.form__btn {
  height: 56px;
  width: 200px;
}


.thank_modal {
  background-color: rgb(255 255 255 / 66%);
  padding-right: 0 !important;
  z-index: 999999;
}
@media (min-width: 576px){
  .thank_modal .modal-dialog {
      max-width: 563px;
  }
  .addressModal .modal-dialog {
    max-width: 649px;
  }
}
.modal-content{
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal-open {
  padding-right: 0 !important;
}
.thank_modal .modal-dialog, .ordersentModal .modal-dialog{
  top: 50%;
  transform: translateY(-50%) !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
}
.thank_modal .modal-content {
  background: #fff;
  width: 100%;
}
.thank_modal .modal-body {
  padding: 47px 28px 40px 28px;
  text-align: center;
}

.modal__title {
  font-size: 18px;
  color: #343238;
  margin-bottom: 36px;
  font-weight: 500;
}

.modal__des {
  font-size: 16px;
  color: #3F3F3E;
  margin-bottom: 45px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}



/*** contact us ***/
.contact__us__wrapper {
  padding-bottom: 200pxpx;
}
.contact__info {
  max-width: 420px;
  margin-bottom: 60px;
}
.normal__title {
  font-size: 24px;
  color: #343238;
  margin-bottom: 18px;
}

.footer_link.contact_link {
  color: #2E2E2E;
}

@media(max-width: 767.98px) {
  .footer_link {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .footer__title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .footer_link .call_icon {
    min-width: 34px;
    height: 34px;
  }
}

/*** 404 page ***/

.not_found_wrap {
  text-align: center;
  padding: 40px 0;
}

@media(min-width: 768px) {
  .not_found_wrap {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.not__img {
  margin-bottom: 65px;
}
.not__img img{
  animation: notFound 1s linear infinite;
  -webkit-animation: notFound 1s linear infinite;
}

.not__title {
  font-size: 44px;
  font-weight: bold;
  color: #3E3A44;
}

.not__subtitle {
  font-size: 22px;
  font-weight: 22px;
  color: #2A2B2C;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.not__des {
  font-size: 20px;
  line-height: 2;
  max-width: 552px;
  color: #303030;
}

@keyframes notFound {
  0%, 100% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}
}